.index-pg {
  background: linear-gradient(270deg, rgba(214, 225, 217, 1), rgba(225, 227, 234, 1));
  font-size: 18px;
  box-sizing: border-box;
}
.index-pg__start {  
  max-width: 1200px;
  margin: 100px auto;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start__text {
  margin: 0 0 20px 0;
}
.start__title {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.start__text-add {
  margin: 0 0 20px 0;
}
.start__sum {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
// Кнопка

.sum__button {
  position: relative;
  width: 40px;
  height: 20px;
  margin-left: 10px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .2);
  transition:  .5s;
}
.sum__button:checked {
  background: #03a9f4;
}
.sum__button:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
.sum__button:checked:before{
  left: 20px;
}
// конец кнопки
// начало анимации планеты
.planet {
  width: 300px;
  height: 300px;
  position: relative;
}
.planet__circle {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url('../img/move-map.svg') repeat-x;
  background-size: auto 100%;
  animation: move-map 15s infinite linear;
}
.planet__circle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
}

@keyframes move-map {
  0% {
    background-position: -400px 0; 
  }

  100% {
    background-position: 0 0; 
  } 
}
// конец анимации планеты
.planet__text {
  position: absolute;
  top: 46%;
  left: -13%;
  font-size: 33px;
  white-space: nowrap;
}
.planet--disabled{
  display: none;
}
.start__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start__form--disabled {
  display: none;
}
.start__form-input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.start__box {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start__box:last-of-type {
  margin-right: 0;
}
.start__currency {
  min-width: 180px;
  border-radius: 25px;
  padding: 5px 5px 5px 10px;
}
.start__span-dollar,
.start__span-euro,
.start__span-gbp,
.start__span-jpy,
.start__span-rub {
  margin-bottom: 10px;
}
.start__form-btn-hide {
  background-image: url(../img/hide-dis.svg);
  background-repeat: no-repeat;
  background-size: 25px 16px;
  background-position: center;
  margin: 0 5px 0 0;
  width: 25px;
  height: 23px;
}
.start__form-btn-hide--active {
  background-image: url(../img/hide-active.svg);
  background-size: 25px 23px;
}
.start__form-btn {
  font-size: 18px;
  padding: 5px 15px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 2px 2px rgba(0,0,0,0.34);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.start__form-btn:hover {
  background-color: black;
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0; 
  box-shadow: 2px 2px rgba(255,0,0);
}
.start__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.top__result {
  min-height: 111px;
  font-size: 96px;
  background: linear-gradient(90deg, rgba(158,217,175,1) 0%, rgba(182,192,223,1) 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start__donate {
  margin-bottom: 0;
  position: relative;
}
.start__donate:after {
  content: "";
  position: absolute;
  width: 126px;
  height: 38px;
  background-image: url(../img/smile.png);
  top: -126px;
  left: 45px;
}
.index-pg__footer {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-pg__footer-email {
  text-decoration: none;
  color: #B0B0B0;
  font-size: 14px;
}
.index-pg__footer-text {
  color: #B0B0B0;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .index-pg {
    background: linear-gradient(90deg, rgba(160, 158, 252, 0.5) -45%, rgba(0, 102, 255, 0.25) 145%),
                linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(0, 0, 0, 1) 130%);
  }
  .index-pg__start {
    margin: 20px auto;
  }
  .start__title {
    position: relative;
  }
  .start__title:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 10px;
    background-color: white;
    top: 11px;
    left: calc(-50vw + 114px);
    z-index: -1;
  }
  .start__text-add {
    text-align: center;
    max-width: 270px;
  }
  .start__sum {
    margin-bottom: 5px;
  }
  .start__form-input {
    flex-direction: column-reverse;
    align-items: center;
  }
  .start__box {
    margin: 0 0 10px 0;
    position: relative;
  }
  .start__box:first-of-type {
    margin-bottom: 0;
  }
  .start__span-rub,
  .start__span-jpy,
  .start__span-gbp,
  .start__span-euro,
  .start__span-dollar {
    position: absolute;
    top: 4px;
    left: 175px;
    margin: 0;
  }
  .start__form-btn {
    padding: 5px 45px;
  }
  .top__text {
    text-align: center;
    max-width: 170px;
  }
  .start__donate:after {
    left: 73px;
  }
  .index-pg__footer-text {
    text-align: center;
  }
}

@media (max-width: 600px){
  .top__result {
    font-size: 50px;
  }
}
